.itemCount{
    background-color: #1b1b1b;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 150px;
}
.itemCount__decrease,
.itemCount__increase{
    color: #ffff;
    border: solid 1px #ffff;
    font-weight: 900;
}
.itemCount__text{
    font-weight: 900;
    text-align: center;
    margin: 0;
    color: #ffff;
}