.item{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}
.item__container{
    background-color: #fff;
    width: 15rem;
    height: 23rem;
    box-shadow: 5px 5px 10px -5px #252525;
    border-radius: 2vh;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item__container--title{
    text-align: center;
    font-size: 18px;
    height: 80px;
}
.item__container--img{
    width: 150px;
    height: 160px;
}
.item__container--text{
    text-align: center;
    height: 40px;
    padding: 10px;
}