.navbar{
    background: url(../../images/banner.jpg);
    background-size: cover;
    min-height: 80vh;
    align-content:flex-start;
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding: 0.5rem;

}
.navbar-logo{
    color: #fff;
    flex-grow: 5;
    font-size: 25px;
    margin: 0px;
}
.navbarMenu{
    align-content: center;
    display: flex;
    flex-direction: row;
    flex-grow: 5;
    justify-content: space-between;
    list-style: none;
    margin: 0px;
}
.nav-links{
    color: #fff;
    text-decoration: none;
}
.fa-shopping-bag{
    color: #fff;
    font-size: 25px;
    margin: 0px 20px 0 20px;
}
